<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://unpkg.com/aplayer"></script>
  </head>
  <body>
    <ul id="albums">
      {{ range $i, $album := .albums }}
      <li><a href='#player' onclick='play(event, {{ $i }});'><img src='/get/{{ $album.Cover }}' /></a></li>
      {{ end }}
      <li id="player" class="aplayer"></li>
    </ul>

    <script>
      var albums = [
      {{ range $album := .albums }}
      [
      {{ range $song := $album.Songs }}
      {
      title: '{{ $song }}'.split('/').pop(),
      author: '',
      url: '/get/{{ $song }}',
      pic: '/get/{{ $album.Cover }}'
      },
      {{ end }}
      ],
      {{ end }}
      ]
    </script>
    <script src='/static/app.js'></script>
  </body>
</html>
